{% extends "socialnetwork/base.html" %}
{% block title %} Global Stream {% endblock %}

{% block user-info %}
  <a id="id_nav_profile" href="{% url 'profile' %}">{{request.user.first_name}} {{request.user.last_name}}</a>
{% endblock %}

{% block navigation-links %}
  <a id="id_nav_global_stream" href="{% url 'global_stream' %}">Global</a>
  <a id="id_nav_follower_stream" href="{% url 'follower_stream' %}">Follower</a>
  <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block page-name %}
  <div class="page_name" id="id_page_name">Global Stream</div>
{% endblock %}

{% block content %}
  <div class = "new_post">
    <form action="global_stream" method="POST">
      <label for="id_post_input_text">New Post:</label>
      <input id="id_post_input_text" type="text" name="text" autofocus />
      <button id="id_post_button" type="submit">Submit</button>
      {%csrf_token%}
    </form>
  </div>
  <div id="all-posts"></div>
  <script>
    const addItemURL = "{% url 'add-comment' %}"
    const profileURL = function (id) {
      return "{% url 'other_profile' 0 %}".replace("0",id)
    }
    window.onload = function() {
      getList('global');
    }
    setInterval(function() {
      getList('global');
    }, 5000);
  </script>

{% endblock %}
